/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.success-dialog{
    background-color: #28A745;
    color:white;
}
.mat-simple-snackbar-action {
    color: white !important;
}
.warn-dialog{
    background-color: #DC3545;
    color:white;
}