<div class="container profile">
  <div class="header">
    <mat-tab-group>
      <mat-tab label="General Information">
        <ng-template matTabContent>
          <div class="content">
            <br />
            <form [formGroup]="informationGroup" (ngSubmit)="onSaveGeneral()">
              <div class="row">
                <mat-form-field class="col-md-6">
                  <input matInput placeholder="Company Name(*)" formControlName="companyName" id="companyName">
                </mat-form-field>
                <mat-form-field class="col-md-6">
                  <input matInput placeholder="Services(*)" formControlName="services" class="companyName">
                </mat-form-field>
              </div>
              <div class="row">
                <mat-form-field class="col-md-6">
                  <input matInput placeholder="General Description(*)" formControlName="generalDescription" id="generalDescription" />
                </mat-form-field>
                <mat-form-field class="col-md-6">
                  <input matInput placeholder="Number of employees(*)" formControlName="numberOE" class="companyName">
                </mat-form-field>
              </div>
              <div class="row">
                <mat-form-field class="col-md-6">
                  <input matInput placeholder="Logo(*)" formControlName="logo" id="logo">
                  <input type="file" #file1 multiple style="display:none" (change)="handleFileLogo($event.target.files)">
                  <button type="button" matSuffix><i color="primary" class="add-files-btn" (click)="addLogo()" class="fas fa-upload"></i></button>
                </mat-form-field>
                <mat-form-field class="col-md-6">
                  <input matInput placeholder="Avatar(*)" formControlName="avatar" id="avatar">
                  <input type="file" #file2 multiple style="display:none" (change)="handleFileAvatar($event.target.files)">
                  <button type="button" matSuffix><i color="primary" class="add-files-btn" (click)="addAvatar()" class="fas fa-upload"></i></button>
                </mat-form-field>
              </div>
              <div class="row">
                <mat-form-field class="col-md-6">
                  <input matInput placeholder="Email(*)" formControlName="email" class="email">
                </mat-form-field>
                <mat-form-field class="col-md-6">
                  <input matInput placeholder="Phone Number(*)" formControlName="phoneNumber" class="phoneNumber">
                </mat-form-field>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field>
                    <mat-select placeholder="From" formControlName="startTime">
                      <!-- <mat-option *ngFor="let food of foods" [value]="food.value">
                        {{food.viewValue}}
                      </mat-option> -->
                      <mat-option value="Monday">Monday</mat-option>
                      <mat-option value="Tuesday">Tuesday</mat-option>
                      <mat-option value="Wednesday">Wednesday</mat-option>
                      <mat-option value="Thursday">Thursday</mat-option>
                      <mat-option value="Friday">Friday</mat-option>
                      <mat-option value="Saturday">Saturday</mat-option>
                      <mat-option value="Sunday">Sunday</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-select placeholder="To" formControlName="endTime">
                      <!-- <mat-option *ngFor="let food of foods" [value]="food.value">
                          {{food.viewValue}}
                        </mat-option> -->
                      <mat-option value="Monday">Monday</mat-option>
                      <mat-option value="Tuesday">Tuesday</mat-option>
                      <mat-option value="Wednesday">Wednesday</mat-option>
                      <mat-option value="Thursday">Thursday</mat-option>
                      <mat-option value="Friday">Friday</mat-option>
                      <mat-option value="Saturday">Saturday</mat-option>
                      <mat-option value="Sunday">Sunday</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field>
                    <mat-select formControlName="country" placeholder="Country">
                      <!-- <mat-option *ngFor="let food of foods" [value]="food.value">
                            {{food.viewValue}}
                          </mat-option> -->
                      <mat-option value="VietNam">VietNam</mat-option>
                      <mat-option value="US">US</mat-option>
                      <mat-option value="Austraulia">Austraulia</mat-option>
                      <mat-option value="China">China</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <br />
              <button mat-raised-button class="btn btn-danger">
                SAVE
              </button>
            </form>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="Overview">
        <ng-template matTabContent>
          <div class="content">
            <form [formGroup]="overViewGroup" (ngSubmit)="onSaveOverview()">
              <div class="ckeditor">
                <editor class="editor" id="contentoverview" [apiKey]="apiKey" formControlName="overView" [(ngModel)]="company.overView" [init]="tinyConfig"
                ></editor>
              </div>
              <br/>
              <div class="button">
                <button mat-raised-button class="btn btn-danger">
                  SAVE
                </button>
              </div>
            </form>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="Branches">
        <ng-template matTabContent>
          <div id="btnAddAddress">
            <button class="btn btn-success" (click)="openAddressProfile('true')">Add Address</button>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Address</th>
                <th>Map</th>
                <th>Update</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let location of arrLocations">
                <td>{{location.IDLocation}}</td>
                <td>{{location.locationName}}</td>
                <td>{{location.map}}</td>
                <td><button class="btn btn-warning" (click)="openAddressProfile(location.IDLocation)">Update</button></td>
                <td><button class="btn btn-danger" (click)="deleteBranch(location.IDLocation)">Delete</button></td>
              </tr>
            </tbody>
          </table>
        </ng-template>
      </mat-tab>
      <mat-tab label="Skills">
        <ng-template matTabContent>
          <div class="content">
            <div class="yourskills">
              <mat-accordion class="example-headers-align">
                <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Personal data
                    </mat-panel-title>
                    <mat-panel-description>
                      Type your name and age
                      <mat-icon>account_circle</mat-icon>
                    </mat-panel-description>
                  </mat-expansion-panel-header>

                  <mat-form-field>
                    <input matInput placeholder="First name">
                  </mat-form-field>

                  <mat-form-field>
                    <input matInput type="number" min="1" placeholder="Age">
                  </mat-form-field>

                  <mat-action-row>
                    <button mat-button color="primary" (click)="nextStep()">Next</button>
                  </mat-action-row>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
            <div class="">

            </div>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="Register Packages">
        <ng-template matTabContent>
          <div class="content">
            <div>
                <h4>Lưu ý: Các gói bên dưới có thời hạn 30 ngày kể từ ngày đăng ký.</h4>
                <table class="table">
                    <thead>
                      <tr>
                        <th>Register Package Name</th>
                        <th>Fee</th>
                        <th>Discount</th>
                        <th>experiate Date</th>
                        <th>Register</th></tr>
                    </thead>
                    <tbody>
                        <tr class="rowintable" *ngFor="let package of arrRegisterPackages">
                            <td>{{package.registerPackageName | slice: 0: 40}}</td>
                            <td>{{package.fee}} VNĐ</td>
                            <td>{{package.discount}} %</td>
                            <th>{{package.exDate}}</th>
                            <td>
                              <button *ngIf="!package.registerStatus" mat-raised-button class="btn btn-warning">Register</button>
                              <button *ngIf="package.registerStatus" mat-raised-button class="btn btn-danger" disabled>Registed</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="">

            </div>
          </div>
        </ng-template>
      </mat-tab>
    </mat-tab-group>

  </div>
</div>