<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/d61da861-c0cf-4eb8-a589-a37f431e7da9/resourcegroups/Thanh_ISC/providers/Microsoft.Web/sites/itworks</ResourceId>
    <ResourceGroup>Thanh_ISC</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://itworks.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>itworks.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>itworks</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$itworks</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DataITJobs" Order="1" Enabled="False">
          <Destination Path="Data Source=itworks.mssql.somee.com;Initial Catalog=itworks;Persist Security Info=False;User ID=lbthinhsomee;Password=thinh231148;Packet Size=4096;Workstation ID=itworks.mssql.somee.com" Name="workstation id=itworks.mssql.somee.com;packet size=4096;user id=lbthinhsomee;pwd=thinh231148;data source=itworks.mssql.somee.com;persist security info=False;initial catalog=itworks" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="GioiThieuViecLam.Models.DataModels.DataContext, GioiThieuViecLam" MigrationConfiguration="GioiThieuViecLam.Migrations.Configuration, GioiThieuViecLam" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DataITJobs-Web.config Connection String">
      <ParameterValue>workstation id=itworks.mssql.somee.com;packet size=4096;user id=lbthinhsomee;pwd=thinh231148;data source=itworks.mssql.somee.com;persist security info=False;initial catalog=itworks</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>