<form id="changePassword" [formGroup]="formData" (ngSubmit)="btnOKClick()">
  <mat-form-field>
    <input matInput formControlName="oldPassword" type="password" placeholder="Old Password" />
  </mat-form-field><br/>
  <mat-form-field>
    <input matInput formControlName="newPassword" type="password" placeholder="New Password" />
  </mat-form-field><br/>
  <mat-form-field>
    <input matInput formControlName="reNewPassword" type="password" placeholder="Repeat New Password" />
  </mat-form-field><br/>
  <button mat-raised-button color="warn">OK</button>
</form>