<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <p>Hi {{userName}}!</p>
    <p>We received a request to change the password from our system. If it is your request, please click on the following link to change your password:<p>
    <a href="{{link}}">{{link}}</a>
    <p>The time limit for changing your password is 15 minutes after receiving this email.</p>
    <p>Thanks.</p>
    <p>Bao Thinh IT</p>
</body>
</html>