<div class="companyReviews container">
  <div class="header">
    <form [formGroup]="forgetGroup" (ngSubmit)="onForgetPassword() && forgetGroup.valid">
      <div class="form-group formLogin">
        <mat-form-field>
          <input matInput placeholder="New Password(*)" formControlName="password" type="password" class="newPassword">
        </mat-form-field><br/>
        <mat-form-field>
          <input matInput placeholder="Repeat New Password(*)" formControlName="rePassword" type="password" class="reNewPassword">
        </mat-form-field>
        <div>
          <button mat-raised-button type="submit" class="btn btn-success" [disabled]="!forgetGroup.valid">
            CHANGE PASSWORD
          </button>
        </div>
      </div>
    </form>
  </div>
</div>